h2 {
  color: rgb(0, 0, 0);
  font-size: 30px;
  font-style: italic;
  -webkit-text-stroke: 1px rgb(255, 255, 255);
 font-family: arial; color: rgb(0, 0, 0);
}

h3 {
  color: rgb(27, 68, 248);
  font-size: 30px;
  font-family: 'Pacifico', cursive;
}

img {
  width: 200px;
}

#american-horror-story {
  height: 200px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Pacifico', cursive;
}

ol p {
  color: rgb(6, 7, 6);
  font-size: 20px;
  font-weight: bold;
}

ul a {
  display: block;
  width: 100px;
  height: 40px;
  float: left;
  background-color: rgb(70, 160, 140);
  text-decoration-line: none;
  list-style: none;
  margin-left: 20px;
  text-align: center;
  padding-top: 10px;
  border-radius: 50%;
}

ul a:hover {
  background-color: rgb(196, 151, 247);
  color: rgb(81, 62, 190);
}

#series {
  clear: both;
  background-color: rgb(234, 241, 235);
  border-bottom: 1px solid #000;
  overflow: hidden;
  padding-left: 20px;
  margin-top: 50px ;
  background-image: url("./img/sub/stars.jpg");
}

#series ol {
  float: left;
}
#series-p { 
  padding-left: 60px ;
}

#bandas {
  clear: both;
  background-color: rgb(207, 229, 241);
  border-bottom: 1px solid #000;
  overflow: hidden;
  padding-left: 20px;
  background-image: url("./img/sub/galaxy.jpg"); 
}

#bandas ol {
  float: left;
}

#videojuegos { 
  clear: both;
  background-color: rgb(207, 229, 241);
  background-image: url("./img/sub/colorful.gif"); 
}

#navegacion {
  overflow: hidden;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0px;
}

h2 {
  text-align: center;
}

p {
  text-align: center;
  -webkit-text-stroke: 0.3px rgb(255, 255, 255);
  font-family: 'Pacifico', cursive ; color: rgb(0, 0, 0);
}

h3 {
  text-align: center;
}
#sobre-mi {
  background-image: url("./img/sub/colorful.gif"); 
}
li {
  color : white ;
 }