h2 {
  color: darkred;
  font-size: 30px;
  font-style: italic;
}
h3 {color: rgb(27, 68, 248);
    font-size: 30px;
    font-style: italic;}
img {
  width: 200px;
}
#american-horror-story {
  height: 200px;
}
body {
  background-color: rgb(114, 184, 189) ; margin: 0 ; padding: 0 ; font-family: 'Pacifico', cursive;
}
ol p {
  color: rgb(6, 7, 6);
  font-size: 20px;
  font-weight: bold;
}
ul a {
  display: block;
  width: 100px;
  height: 40px;
  float: left;
  background-color: rgb(6, 7, 6);
  text-decoration-line: none;
  list-style: none;
  margin-left: 20px;
  text-align: center;
  padding-top: 10px; 
  border-radius: 50%; 
}
ul a:hover {background-color: rgb(252, 248, 57); color:crimson;}
#series {clear: both; background-color: rgb(234, 241, 235); border-bottom: 1px solid #000; overflow: hidden; padding-left: 20px;}
#series ol { float:left; }
#bandas {clear:both; background-color:rgb(207, 229, 241) ; border-bottom: 1px solid #000; overflow: hidden; padding-left: 20px;}
#bandas ol {float:left;}
#libros {clear:both;}
#navegacion { overflow: hidden; height: 50px ; width: 100% ; display: flex ;
     justify-content: center ; position: fixed; top: 0px ;}
h2 {text-align: center; }
p {text-align: center; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif}
h3 {text-align: center; }
